<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Process Synchronisation</title>
    <!-- Favicon -->
    <link rel="icon" href="../static/favicons/process.png" />
    <link rel="stylesheet" href="../static/css/ProSync/prosync.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg text-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="{{url_for('index')}}"
          >The OS-sential Guide</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-light" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active text-light text-light"
                aria-current="page"
                href="#"
                >Home</a
              >
            </li>
          </ul>
        </div>
      </div>
      <select
        class="h-5 text-black mr-8"
        name="Choose"
        onchange="window.location.href=this.value;"
      >
        <option class="text-black" value="" selected disabled>
          Select a topic
        </option>
        <option value="{{ url_for('prosync') }}" style="color: black">
          Process Synchronisation
        </option>
        <option value="{{ url_for('cpu') }}" style="color: black">
          CPU scheduling
        </option>
        <option value="{{ url_for('thread') }}" style="color: black">
          Multithreading
        </option>
        <option value="{{ url_for('classicprosync') }}" style="color: black">
          Classic Problems of Synchronisation
        </option>
      </select>
    </nav>

    <h1 class="mx-2 text-3xl"><strong> Process Synchronisation</strong></h1>

    <div class="my-10 flex flex-row">
      <img src="../static/images/ProSync/processsync.png" alt="processsync" />
      <p class="mx-4">
        <strong>
          Process Synchronization is the coordination of execution of multiple
          processes in a multi-process system to ensure that they access shared
          resources in a controlled and predictable manner. It aims to resolve
          the problem of race conditions and other synchronization issues in a
          concurrent system. <br />The main objective of process synchronization
          is to ensure that multiple processes access shared resources without
          interfering with each other, and to prevent the possibility of
          inconsistent data due to concurrent access. To achieve this, various
          synchronization techniques such as semaphores, monitors, and critical
          sections are used. <br />

          In a multi-process system, synchronization is necessary to ensure data
          consistency and integrity, and to avoid the risk of deadlocks and
          other synchronization problems. Process synchronization is an
          important aspect of modern operating systems, and it plays a crucial
          role in ensuring the correct and efficient functioning of
          multi-process systems. On the basis of synchronization, processes are
          categorized as one of the following two types: Independent Process:
          The execution of one process does not affect the execution of other
          processes. Cooperative Process: A process that can affect or be
          affected by other processes executing in the system. Process
          synchronization problem arises in the case of Cooperative process also
          because resources are shared in Cooperative processes. <br />
          1.Independent Process: The execution of one process does not affect
          the execution of other processes. <br />
          2.Cooperative Process: A process that can affect or be affected by
          other processes executing in the system. Process synchronization
          problem arises in the case of Cooperative process also because
          resources are shared in Cooperative processes.
        </strong>
      </p>
    </div>

    <br /><br />

    <h1 class="mx-2 text-3xl"><strong>Race condition:</strong></h1>
    <div class="flex flex-row justify-center">
      <p class="mx-4">
        <strong>
          When more than one process is executing the same code or accessing the
          same memory or any shared variable in that condition there is a
          possibility that the output or the value of the shared variable is
          wrong so for that all the processes doing the race to say that my
          output is correct this condition known as a race condition. Several
          processes access and process the manipulations over the same data
          concurrently, then the outcome depends on the particular order in
          which the access takes place. A race condition is a situation that may
          occur inside a critical section. This happens when the result of
          multiple thread execution in the critical section differs according to
          the order in which the threads execute. Race conditions in critical
          sections can be avoided if the critical section is treated as an
          atomic instruction. Also, proper thread synchronization using locks or
          atomic variables can prevent race conditions.</strong
        >
      </p>
    </div>

    <br /><br />

    <h1 class="mx-2 text-3xl"><strong> Critical Section:</strong></h1>
    <br />

    <strong
      ><p class="mx-4">
        A critical section is a code segment that can be accessed by only one
        process at a time. The critical section contains shared variables that
        need to be synchronized to maintain the consistency of data variables.
        So the critical section problem means designing a way for cooperative
        processes to access shared resources without creating data
        inconsistencies. In the entry section, the process requests for entry in
        the Critical Section. Any solution to the critical section problem must
        satisfy three requirements: <br />

        1.Mutual Exclusion: If a process is executing in its critical section,
        then no other process is allowed to execute in the critical section.
        <br />
        Progress: If no process is executing in the critical section and other
        processes are waiting outside the critical section, then only those
        processes that are not executing in their remainder section can
        participate in deciding which will enter in the critical section next,
        and the selection can not be postponed indefinitely. <br />
        Bounded Waiting: A bound must exist on the number of times that other
        processes are allowed to enter their critical sections after a process
        has made a request to enter its critical section and before that request
        is granted.
      </p>
    </strong>

    <div class="flex flex-row">
      <img
        class="mx-10 h-[500px] w-[650px]"
        src="../static/images/ProSync/race.png"
        alt="race"
      />
      <img
        class="mx-32"
        src="../static/images/ProSync/critical-section-problem.png"
        alt="critical"
      />
    </div>

    <br />
    <h1 class="mx-2 text-3xl"><strong>Peterson's solution</strong></h1>

    <div class="my-10 flex flex-row">
      <p class="mx-5">
        <strong
          >Peterson’s Solution is a classical software-based solution to the
          critical section problem. In Peterson’s solution, we have two shared
          variables: <br />
          <br />

          1.boolean flag[i]: Initialized to FALSE, initially no one is
          interested in entering the critical section <br />
          2.int turn: The process whose turn is to enter the critical section.
          <br />

          Peterson’s Solution preserves all three conditions: <br />

          1.Mutual Exclusion is assured as only one process can access the
          critical section at any time. <br />
          2.Progress is also assured, as a process outside the critical section
          does not block other processes from entering the critical section.
          <br />
          3.Bounded Waiting is preserved as every process gets a fair chance.
          <br />
          <br />
          <br />

          Disadvantages of Peterson’s solution: <br />

          1. It involves busy waiting.(In the Peterson’s solution, the code
          statement- “while(flag[j] && turn == j);” is responsible for this.
          Busy waiting is not favored because it wastes CPU cycles that could be
          used to perform other tasks.) <br />
          2. It is limited to 2 processes. <br />
          3. Peterson’s solution cannot be used in modern CPU architectures.
          <br />
        </strong>
      </p>
      <img src="../static/images/ProSync/peterson.png" alt="peterson" />
    </div>

    <h1 class="mx-2 text-3xl"><strong>Semaphores:</strong></h1>
    <br />
    <br />

    <div class="flex flex-row">
      <img
        class="mx-5"
        src="../static/images/ProSync/Semaphore.png"
        alt="semaphore"
      />
      <p class="mx-4">
        <strong>
          A semaphore is a signaling mechanism and a thread that is waiting on a
          semaphore can be signaled by another thread. This is different than a
          mutex as the mutex can be signaled only by the thread that is called
          the wait function. <br />
          <br />

          A semaphore uses two atomic operations, wait and signal for process
          synchronization. A Semaphore is an integer variable, which can be
          accessed only through two operations wait() and signal(). <br />
          There are two types of semaphores: Binary Semaphores and Counting
          Semaphores.<br />
          <br />

          1.Binary Semaphores: They can only be either 0 or 1. They are also
          known as mutex locks, as the locks can provide mutual exclusion. All
          the processes can share the same mutex semaphore that is initialized
          to 1. Then, a process has to wait until the lock becomes 0. Then, the
          process can make the mutex semaphore 1 and start its critical section.
          When it completes its critical section, it can reset the value of the
          mutex semaphore to 0 and some other process can enter its critical
          section. <br />
          <br />
          2.Counting Semaphores: They can have any value and are not restricted
          over a certain domain. They can be used to control access to a
          resource that has a limitation on the number of simultaneous accesses.
          The semaphore can be initialized to the number of instances of the
          resource. Whenever a process wants to use that resource, it checks if
          the number of remaining instances is more than zero, i.e., the process
          has an instance available. Then, the process can enter its critical
          section thereby decreasing the value of the counting semaphore by 1.
          After the process is over with the use of the instance of the
          resource, it can leave the critical section thereby adding 1 to the
          number of available instances of the resource.</strong
        >
      </p>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
