.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.MyCarousel {
  width: 75%;
  /*Center the carousel*/
  margin: 0 auto;
  margin-top: 2rem;
}

.CarouselText {
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.card {
  background: linear-gradient(rgb(27, 237, 153), rgb(127, 229, 245));
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0, 18);
  height: 550px; /* Set a fixed height */
  overflow: hidden; /* Hide any overflow */
}

.container {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; /* Fill container without stretching */
}

.card > .container:after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0;
}

.card1 > .container:after {
  background-image: linear-gradient(135deg, orange, purple);
}

.details {
  padding: 20px 10px;
}

.details > h3 {
  color: black;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  margin: 10px 0 15px 0;
  font-weight: bolder;
  padding-left: 1.5rem;
}

.details > p {
  color: black;
  font-size: 15px;
  padding-left: 1rem;

  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  line-height: 20px;
}
